/* globals.css */
@import "tailwindcss";
@plugin "@tailwindcss/typography";

body {
  background-color: white;
  color: #1e293b; /* 深灰文字 */
  font-family: 'Inter', sans-serif;
}

.prose img { margin: 0; }  /* 搭配 next/image 時更緊湊 */